data:
  twix_file: "20250307_JM/raw/meas_MID00115_FID27380_Cor_250306_2.dat"
  dicom_folder: "20250307_JM/dcm/SE00028001 COR_250306_2"
  # ecg_columns: "18:21"         # Use a slice (e.g., "18:21") or single index
  ecg_files: [
    "20250307_JM/ecg_resp/cine3_2_Cor_250306_2_syncdata_ECG1_25.log",
    "20250307_JM/ecg_resp/cine3_2_Cor_250306_2_syncdata_ECG2_25.log",
    "20250307_JM/ecg_resp/cine3_2_Cor_250306_2_syncdata_ECG3_25.log",
    "20250307_JM/ecg_resp/cine3_2_Cor_250306_2_syncdata_ECG4_25.log",
  ]
  event_file: "20250307_JM/ecg_resp/cine3_2_Cor_250306_2_syncdata_EVNT_25.log"
  resp_file: "20250307_JM/ecg_resp/cine3_2_Cor_250306_2_syncdata_RESP_200.log"
  n_frames: 100
  extended_pe_lines: 128
  offset: 32

processing:
  resp_bin_method: "physio" # Options: "even" or "physio"
  num_cardiac_bins: 10
  # num_resp_bins: 1         # Only used if resp_bin_method is "even"
  num_inhalation_bins: 3   # Only used if resp_bin_method is "physio"
  num_exhalation_bins: 1   # Only used if resp_bin_method is "physio"
  resp_peak_method: "scipy" # Options: "scipy" or "nk"
  resp_peak_kwargs: {"height": 0.6, "prominence": 0.2} # Only used if resp_peak_method is "scipy"
  resp_trough_method: "scipy" # Options: "scipy" or "nk"
  resp_trough_kwargs: {"height": 0.6, "prominence": 0.2} # Only used if resp_trough_method is "scipy"
  reconstruction_method: "tgrappa" # Options: "grappa", "tgrappa", "zf", "conj_symm"